/* base reset */
html, body {
  margin: 0;
  padding: 0;
}

/* LANDING PAGE ONLY */
body.landing {
  /* font styling */
  background: #f1f1f1;
  font-family: 'Space Mono', monospace;

  /* centring */
  min-height: 100vh;   /* fallback */
  min-height: 100dvh;  /* modern */
  display: grid;
  place-items: center;
}

/* shared UI */
.wrapper {
  text-align: center;
}

.logo {
  font-size: 18px;
  text-decoration: none;
  color: black;
}

.logo-top-left {
  position: fixed;
  top: 1rem;
  left: 1rem;
}

.nav-link {
  display: block;
  font-size: 18px;
  color: black;
  text-decoration: none;
  margin: 0.5rem 0;
}

.nav-link:hover {
  text-decoration: underline;
}