html, body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif; /* all font on the page will use this styling */
  font-size: 14px;
  text-align: center;
}

/* Ouvrières by Laure Azizi. Distributed by velvetyne.fr. */
@font-face {
  font-family: Ouvrieres;
  src: url("fonts/Ouvrieres-exploratrices.woff");
}

/* Mourier by Eric Mourier, with the contribution of Sébastien Hayez, Ariel Martín Pérez, Alexander Kondratenko. Distributed by velvetyne.fr. */
@font-face {
  font-family: Mourier;
  src: url("fonts/Mourier-Regular.woff");
}


/* this is styling for p tags with the id of fun-font */
#fun-font{
  font-size: 60px;
  word-break: break-all; /* breaks long continuous words onto a new line */
}

/* this is styling for a class call regular */
.regular{
  color: black;
}

.red{
  color: red;
}

.monospace{
  color: black;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}

/* Mourier by Eric Mourier, with the contribution of Sébastien Hayez, Ariel Martín Pérez, Alexander Kondratenko. Distributed by velvetyne.fr. */
.mourier{
  font-family: Mourier;

}
/* Ouvrières by Laure Azizi. Distributed by velvetyne.fr. */
.ouvrieres{
  font-family: Ouvrieres;

}

.cursive{
  font-family: "Brush Script MT", cursive;
  text-transform: uppercase;
}